<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Goal Manager</title>
    <link rel="stylesheet" href="/details.css"></link>
</head>

<body style="background-color: #0D001A;">

    <div class="text-white" style="text-align: center; width: 100%;" id="overall-container">

        <div class="d-flex flex-row">
            <%- include('sidebar.ejs'); %>
            <div id="viewing-section"
                style="padding: 1%; margin-left: 1em; margin-top: 40px; width: 87em; height: 44em; background-color: #1E1526; border-radius: 10px; box-shadow: 0px 0px 0px 1px rgba(43, 42, 42, 1); text-align: left; overflow-y: scroll;">

                <div id="project-viewer">
                    <h1>Your projects</h1>
                    <span>Here you can find a list of projects which you are either the owner of or are included as a
                        member</span>
                    <hr style="background-color: aliceblue;" />
                    <div style="display: flex; flex-direction: row;">
                        <div style="margin-left: 2.5em; width: 10em; padding: 0.5%; border-radius: 5px;" class="nav-btn" data-toggle="modal" data-target="#projModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16" style="margin-top: -5px;">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/></svg>
                                <span>Add new project</span> 
                            </div>
                            <div style="width: 15em; height: 2.5em; margin-left: 2em; display: flex; flex-direction: row;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="margin: auto;">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                </svg>
                                <input id="post-search" class="form-control" type='text' name='search' placeholder="Search..."  style="width: 80%; margin: auto; background-color:rgba(0,0,0,0) !important; border:none !important; color: aliceblue;" onkeyup="handle_search_bar()">
                            </div>
                        </div>

                    <div class="project-section">
                        <% for (let project of projects){ %>
                        <div class="project-view" project-name="<%= project["project name"] %>">
                            <div class="project-card" 
                                style="text-align: center; display: flex; flex-direction: row; width: 95%; height: 3.5em; margin: auto; border-radius: 25px; padding: 1em; text-overflow: ellipsis; overflow: hidden;">
                                <div style="width: 25%; padding: 1%; margin: auto;">
                                    <span style="font-size: 15px;">Name</span>
                                </div>
                                
                                <div style="width: 44%; padding: 1%;">
                                    <span style="font-size: 15px;">Description</span>
                                </div>
                                
                                <div style="width: 18%; padding: 1%;">
                                    <span style="font-size: 15px;">Owner</span>
                                </div>

                                <div style="width: 13%; padding: 1%;">
                                </div>
                            </div>

                            <div class="project-card"
                            style="text-align: left; display: flex; flex-direction: row; width: 95%; height: 6em; margin: auto; margin-bottom: 1.5em; background-color: #332340; border-radius: 25px; padding: 1em; text-overflow: ellipsis; overflow: hidden;">
                            <div style="width: 25%; padding: 1%; margin: auto;">
                                <span style="font-size: 20px;">
                                                <%= project["project name"] %>
                                            </span>
                                        </div>
                                        
                                        <div style="border-left:1px solid #493c55;height:100%; margin: auto;"></div>
                                        
                                        <div style="width: 44%; padding: 1%; margin: auto;">
                                            <span style="font-size: 16px;">
                                                <%= project["project description"] %>
                                            </span>
                                        </div>
                                        
                                        <div style="border-left:1px solid #493c55;height:100%; margin: auto;"></div>

                                        <div style="width: 18%; padding: 1%; margin: auto;">
                                            <span style="font-size: 18px; ">
                                                <%= project['owner'] %>
                                            </span>
                                        </div>

                                        <div style="border-left:1px solid #493c55;height:100%; margin: auto;"></div>
                                        
                                        <div style="width: 13%; padding: 1%;">
                                            <button class="open-btn"
                                            onclick="open_project('<%= project[`_id`] %>')"
                                            style="transition-duration: 0.4s; width: 100%; height: 100%; overflow: hidden; border-style: none; color: aliceblue; border-radius: 45px;">Open</button>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="projModal" tabindex="-1" role="dialog" aria-labelledby="projModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content" style="background-color: #1E1526;">
                    <div class="modal-header">
                      <h5 class="modal-title" id="stepModalTitle">Create new project</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: aliceblue;">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="display: flex; flex-direction: column;">
                        <div id="post-addition" style="display: flex; flex-direction: column;">
                            <label for="name" style="align-self: start; font-size: large;">Project name</label>
                            <input id="proj-name" autocomplete="off" type="text" name="name" style="width: 20em; background-color: #0D001A; margin-bottom: 25px; color: aliceblue; border-radius: 10px; border-style: none; box-shadow: 0px 0px 0px 1px rgba(43, 42, 42, 1);">
                            <label for="description" style="font-size: large; width: fit-content;">Project description</label>
                            <textarea id="proj-desc" name="description" rows="3" style="resize: none; width: 20em; background-color: #0D001A; color: aliceblue; border-radius: 10px; border-style: none; box-shadow: 0px 0px 0px 1px rgba(43, 42, 42, 1);" ></textarea>
                            <button type="button" class="btn btn-sm btn-primary" style="font-size: large; margin-top: 30px; width: fit-content; border-radius: 10px;" onclick="handle_post_creation('<%= username %>')">Create new project</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/post_management_script.js"></script>
</body>

</html>